extends layout

block content
  div.fb-group-title
    h4
      a(href="/sale/" + group.id)
        img.fb-group-title(src=group.icon)
        span #{group.name}
  div
  if posts.length
    div.alert.alert-warning.alert-dismissable 
      a(href="#" class="close" data-dismiss="alert" aria-label="close") &times
      span Buy-Sell Clerk did its best to detect the highest bidders.  But, it's not perfect.  Check out any highlighted warnings and failures below and review them before tagging winners.
  div.panel.panel-default
    div.panel-heading
      div.panel-title.h6
        span Auction posts 
          span - #{posts.length}
    div.panel-body.panel-height
      if posts.length
        table#auction-grid.table.table-condensed.table-hover.table-striped
          thead
            tr
              th(data-column-id="id" data-identifier="true" data-visible="false") Id
              th(data-column-id="title" data-width="25%") Title
              th(data-column-id="asking-price" data-width="10%" data-header-align="center" data-align="center" data-formatter="currency_dollars" data-converter="numeric") List Price
              th(data-column-id="highest-bid" data-width="10%" data-header-align="center" data-align="center" data-formatter="currency_dollars_cents" data-converter="numeric") Highest Bid
              th(data-column-id="status" data-width="10%" data-header-align="center" data-align="center" data-formatter="status" data-visible="false") QC Status
              th(data-column-id="highest-bidder" data-width="15%") Highest Bidder
              th(data-column-id="highest-bidder-id" data-visible="false") Highest Bidder Id
              th(data-column-id="updated" data-width="15%" data-converter="datetime") Bid Time
              th(data-column-id="location" data-width="10%") Location
              th(data-column-id="fb" data-width="5%" data-header-align="center" data-align="center" data-formatter="fb" data-sortable="false") fb
            tbody
              for post in posts
                tr
                  td #{post.id}
                  td #{post.title}
                  td #{post.cost}
                  td #{post.bids[0].amount}
                  td #{post.status}
                  td #{post.bids[0].from.name}
                  td #{post.bids[0].from.id}
                  td #{post.bids[0].created_time}
                  td #{post.location}
                  td #{post.permalink_url}
      else
        p No bids on any posts.
    div.panel-footer
      div.row
        div.col-md-3
          if posts.length
            button#btn-tag-winners.btn.btn-default(disabled="true" onclick="javascript:tagWinnersForSelectedPosts(" + group.id + ")" data-toggle="tooltip" title="Tag winners for selected posts") Tag winners
            span.small.span-space Coming soon!
        div.col-md-9

    #tagWinnersConfirmation.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', data-dismiss='modal' onclick="javascript:tagWinnersForSelectedPosts(" + group.id + ");") OK

    #tagWinnersCompleted.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal' onclick="location.reload()") Close

  script(src="/javascripts/auction_posts.js")
