extends layout

block content
  div.row
    div.col-md-2
      div.text-right
        img(src=user.picture.data.url)
        p.text-primary #{user.name}
    div.col-md-1
    div.col-md-9
      div.panel.panel-default.panel-height-short
        div.panel-heading
          div.panel-title.h5 Groups
        div.panel-body
          if groups.length
            ul.list-group
              for group in groups
                li.list-group-item
                  a.h4(href=/sale/ + group.id, title="Click to manage sale.")
                    img.fb-group-title(src=group.icon)
                    span #{group.name} 
                  if group.privacy == 'CLOSED'
                    span.vertical-space.pull-right.glyphicon.glyphicon-lock
                  if group.privacy == 'OPEN'
                    span.vertical-space.pull-right.glyphicon.glyphicon-globe
                  if group.privacy == 'SECRET'
                    span.vertical-space.pull-right.glyphicon.glyphicon-warning-sign
          else
            p No administered groups.
      div.comment.text-info Choose a group to manage your sale posts, discussion posts, or auction.
