extends layout

block content
  div.fb-group-title
    h4
      a(href="/sale/" + group.id)
        img.fb-group-title(src=group.icon)
        span #{group.name}
  div.panel.panel-default
    div.panel-heading
      div.panel-title.h6
        span Discussion posts 
          span - #{posts.length}
    div.panel-body.panel-height
      if posts.length
        table#discussion-posts-grid.table.table-condensed.table-hover.table-striped
          thead
            tr
              th(data-column-id="id" data-identifier="true" data-visible="false" data-visibleInSelection="false") Id
              th(data-column-id="type" data-width="5%" data-visible="false") Type description
              th(data-column-id="icon" data-width="7%" data-header-align="center" data-align="center" data-formatter="icon") Type
              th(data-column-id="message" data-formatter="NA") Message
              th(data-column-id="application" data-width="10%" data-formatter="application" data-converter="JSON" data-visible="false") Origin app
              th(data-column-id="status-type" data-width="10%" data-formatter="NA") Status
              th(data-column-id="place" data-width="10%" data-formatter="place" data-converter="JSON" data-visible="true") Place
              th(data-column-id="created" data-width="15%" data-converter="datetime") Created
              th(data-column-id="updated" data-width="15%" data-converter="datetime") Updated
              th(data-column-id="link" data-width="7%" data-header-align="center" data-align="center" data-formatter="link") Link
              th(data-column-id="fb" data-width="5%" data-header-align="center" data-align="center" data-formatter="fb" data-sortable="false") fb
            tbody
              for post in posts
                tr
                  td #{post.id}
                  td #{post.type}
                  td #{post.icon}
                  td #{post.message}
                  td #{JSON.stringify(post.application)}
                  td #{post.status_type}
                  td #{JSON.stringify(post.place)}
                  td #{post.created_time}
                  td #{post.updated_time}
                  td #{post.link}
                  td #{post.permalink_url}
      else
        p No discussion posts.
    div.panel-footer
      div.row
        div.col-md-3
          a#btn-delete.btn.btn-primary(href="javascript:confirmDeleteSelectedPosts('#discussion-posts-grid')" data-toggle="tooltip" title="Delete selected posts") Delete
        div.col-md-6
        div.col-md-3

    #deletePostsConfirmation.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', data-dismiss='modal' onclick="javascript:deleteSelectedPosts(" + group.id + ", '#discussion-posts-grid');") OK

    #deletePostsCompleted.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal' onclick="javascript:reloadPosts(" + group.id + ");") Close

  script(src="/javascripts/discussion_posts.js")
