extends layout

block content
  div.row
    div.col-md-6
      iframe(src="https://www.facebook.com/plugins/post.php?href=https://www.facebook.com/notes/buy-sell-clerk-community/faqs/175496849685491/&width=500" width="500" height="504" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
    div.col-md-6
      iframe(src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/buysellclerk/&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=1272721949506252" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
