extends layout

block header
block main-container
  div.container-fluid
    div.jumbotron
      div.row
        div.col-md-10
          h1.app-title
            span #{title}
          span.text-success.bg-success(style="position: absolute; top: 0px;") BETA
          p.vertical-space Welcome! 
            a(href="/login")
              strong Log in 
            | to begin. 
        div.col-md-2
          img.pull-right.app-logo(src="/images/facebookbuyandselllogo_05.png")
      div.row
        div.row
          div.accent.pull-right Helping you manage Facebook Buy-Sell group sale posts and auctions.
        div.row.vertical-space
          a.small.text-muted(href="/privacy_policy" style="margin-left: 50px;") Privacy policy
          iframe.pull-right.vertical-space(src="https://www.facebook.com/plugins/share_button.php?href=https://fbbuysellclerk.com/&layout=button_count&size=large&mobile_iframe=true&appId=1272721949506252&width=100&height=28" width="100" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
block footer
