doctype html
html
  head
    title= title

    meta(property='fb:app_id', content='1272721949506252')
    meta(property='og:title', content='Buy-Sell Clerk')
    meta(property='og:url', content='http://fbbuysellclerk.com')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://fbbuysellclerk.com/images/facebookbuyandselllogo_05.png')
    meta(property='og:image:alt', content='Buy-Sell Clerk Logo')
    meta(property='og:description', content='Helping you manage Facebook Buy-Sell group sale posts and auctions.')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mask.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js')

    script(src='/javascripts/jquery.mask.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/sale.js')
    script(src='/javascripts/posts.js')
  body
    block header
      block title-bar
        div.jumbotron.top-bar
          div.container-fluid
            div.pull-right
              h2.app-title Buy-Sell Clerk
              a(href="/dashboard")
                img.app-logo-header(src="/images/facebookbuyandselllogo_05.png" data-toggle="tooltip" title="Dashboard")
              span.text-success.bg-success(style="position: absolute;") BETA
      block nav-bar
        nav.navbar.navbar-default
          div.container-fluid
            ul.nav.navbar-nav
              li
                a(href="/dashboard") Dashboard
              li
                a(href="/logout") Log Out
            ul.nav.navbar-nav.navbar-right
              li
                a.glyphicon.glyphicon-question-sign(href="/help")
      div#container.container
        div.page-header
          h3=title
    block main-container
      div.container
        block content
    block spinner
      div#loader
        img(src="/images/clerk-coin.gif")
    block footer
      footer.container-fluid
        div.row.tag-line
          a.small(href="/privacy_policy") Privacy policy
          span.pull-right 
            span Helping you manage Facebook Buy-Sell group sale posts and auctions.
        span.pull-right.vertical-space(style="margin-right: 20px;")
          iframe(src="https://www.facebook.com/plugins/share_button.php?href=https://fbbuysellclerk.com&layout=button_count&size=small&mobile_iframe=true&appId=1272721949506252&width=81&height=20" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
