extends layout

block content
  div.fb-group-title
    h4
      img.fb-group-title(src=group.icon)
      span #{group.name}
  div.row.center-stage
    div.col-md-3
      div.well
        a#btn-quick-delete.btn.btn-danger.text-danger(type="button" href="javascript:confirmDeleteAllPosts()") 
          span.glyphicon.glyphicon-trash
          span.h4.span-space Quick Delete
        span.label.label-danger.pull-right ALL
        form(style="margin-left: 15px;")
          div.checkbox
            label
              input(type="checkbox" checked="true" value="sale")
              span.comment Sale posts
          div.checkbox
            label
              input(type="checkbox" value="discussion")
              span.comment Discussion posts
        div.small.text-danger.vertical-space(style="padding:3px;") Quick Delete deletes 
          strong ALL  
          span posts.
    div.col-md-9
      div.well
        div.row
          form.form-inline(role="form" data-toggle="validator" onsubmit="javascript:reloadPosts(" + group.id + ");")
            div.col-md-8
              div.form-group
                label.span-space(for="date_from") From
                input#date_from.span-space.form-control(name="date_from" value=moment.unix(since).format('MM/DD/YYYY') type="text" required)
                label.span-space(for="date_to") To
                input#date_to.span-space.form-control(name="date_to" value=moment.unix(until).format('MM/DD/YYYY') type="text" required)
            div.col-md-4
              div.form-group.pull-right
                button.btn.btn-primary.text-primary.pull-right(type="submit" title="Load Posts")
                  span.glyphicon.glyphicon-refresh
                  span.span-space Load Posts
        hr
        if postsLoaded
          if salePosts.length || discussionPosts.length
            div.row.vertical-space
              div.col-md-4
                div.well(style="background: white;")
                  a#btn-manage-sale-posts.btn.text-primary(type="button" href="/sale/" + group.id + "/posts")
                    span.glyphicon.glyphicon-pencil
                    span.h4.span-space Sale Posts
                  span.label.label-primary.pull-right #{salePosts.length}
                  div.comment.text-muted(style="margin-left: 30px;") Manage sale posts.
              div.col-md-4
                div.well(style="background: white;")
                  a#btn-manage-discussion-posts.btn.text-default(type="button" href="/sale/" + group.id + "/discussion-posts")
                    span.glyphicon.glyphicon-pencil
                    span.h4.span-space Posts
                  span.label.label-default.pull-right #{discussionPosts.length}
                  div.comment.text-muted(style="margin-left: 30px;") Manage discussion posts.
              div.col-md-4
                div.well(style="background: white;")
                  a#btn-tag-auction-winners.btn.text-success(type="button" href="/auction/" + group.id + "/posts")
                    span.glyphicon.glyphicon-piggy-bank
                    span.h4.span-space Auction
                  span.label.label-success.pull-right #{salePosts.length}
                  div.comment.text-muted(style="margin-left: 30px;") Tag auction winners.
          else
            div.row.vertical-space
              div.text-center
                span No posts within that date range. Pick different dates or 
                  a.text-info(type="button" href="/dashboard/") return to dashboard.
          p.small.pull-right.text-warning
            span Maximum posts retrieved currently capped at 
            strong 1000

  #deleteAllPostsConfirmation.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='button', data-dismiss='modal' onclick="javascript:deleteAllPosts(" + group.id + ");") OK

  #deleteAllPostsCompleted.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal' onclick="javascript:reloadPosts(" + group.id + ");") Close

  script.
    var salePosts = !{JSON.stringify(salePosts)};
    var discussionPosts = !{JSON.stringify(discussionPosts)};
    var quickDeleteHandler = `javascript:confirmDeleteAllPosts(${salePosts.length} + ${discussionPosts.length})`;

    $(function() {
        refreshButtonsEnabled(salePosts, discussionPosts);

        $("input[type=checkbox]").change(function() {
            var disabled = !$("input:checked").length;
            $('#btn-quick-delete').attr('disabled', disabled);
            if (disabled) {
                $('#btn-quick-delete').removeAttr('href');
            } else {
                $('#btn-quick-delete').attr('href', quickDeleteHandler);
            }
        });

        var options={
          format: 'mm/dd/yyyy',
          todayHighlight: true,
          immediateUpdates: true,
          todayBtn: true,
          clearBtn: true,
          autoclose: true,
          endDate: '+1d'
        };

        var date_from_input=$('input[name="date_from"]');
        date_from_input.datepicker(options);

        var date_to_input=$('input[name="date_to"]');
        date_to_input.datepicker(options);
    });
