extends layout

block header
  block title-bar
    div.jumbotron.top-bar
      div.container-fluid
        div.pull-right
          h2.app-title Buy-Sell Clerk
          a(href="/dashboard")
            img.app-logo-header(src="/images/facebookbuyandselllogo_05.png" data-toggle="tooltip" title="Dashboard")
          span.text-success.bg-success(style="position: absolute;") BETA
  div.container
    div.page-header
      h3=title
block main-container
  div.container
    block content
      p
        | This Privacy Policy governs the manner in which Buy-Sell Clerk collects, uses, maintains and discloses information collected from users (each, a "User") of the https://fbbuysellclerk.com website ("Site").
      h4.accent.accent Personal identification information
      p
        | We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
      h4.accent Non-personal identification information
      p
        | We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
      h4.accent Web browser cookies
      p
        | Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
      h4.accent How we use collected information
      p
        | Buy-Sell Clerk may collect and use Users personal information for the following purposes:
      ul
        li
          i To run and operate our Site
          br
          |     We may need your information display content on the Site correctly.
        li
          i To personalize user experience
          br
          |     We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
      h4.accent How we protect your information
      p
        | We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
      h4.accent Sharing your personal information
      p
        | We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
      h4.accent Advertising
      p
        | Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers. You may learn more about opting out of major ad networks at 
        a(href='https://websitebuilders.com/tools/advertiser-opt-out/') https://websitebuilders.com/tools/advertiser-opt-out/
        | .
      h4.accent Google Adsense
      p
        | Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to Users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at 
        a(href='http://www.google.com/privacy_ads.html') http://www.google.com/privacy_ads.html
      h4.accent Changes to this privacy policy
      p
        | Buy-Sell Clerk has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
      h4.accent Your acceptance of these terms
      p
        | By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes. This privacy policy was built with 
        a(href='https://privacypolicies.com/', target='_blank')  the web's favourite privacy policy generator
        | .
      h4.accent Contacting us
      p
        | If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.
      p This document was last updated on September 13, 2017
