extends layout

block content
  div.fb-group-title
    h4
      a(href="/sale/" + group.id)
        img.fb-group-title(src=group.icon)
        span #{group.name}
  div.panel.panel-default
    div.panel-heading
      div.panel-title.h6
        span Sale posts 
          span - #{posts.length}
    div.panel-body.panel-height
      if posts.length
        table#sale-posts-grid.table.table-condensed.table-hover.table-striped
          thead
            tr
              th(data-column-id="id" data-identifier="true" data-visible="false" data-visibleInSelection="false") Id
              th(data-column-id="title" data-formatter="NA" data-width="20%") Title
              th(data-column-id="cost" data-type="numeric" data-formatter="currency_dollars" data-width="5%") Cost
              th(data-column-id="description" data-formatter="NA" data-visible="false") Description
              th(data-column-id="location" data-width="10%" data-visible="true") Location
              th(data-column-id="created" data-width="10%" data-converter="datetime") Created
              th(data-column-id="updated" data-width="10%" data-converter="datetime") Updated
              th(data-column-id="link" data-width="7%" data-header-align="center" data-align="center" data-formatter="link") Link
              th(data-column-id="fb" data-width="5%" data-header-align="center" data-align="center" data-formatter="fb" data-sortable="false") fb
            tbody
              for post in posts
                tr
                  td #{post.id}
                  td #{post.title}
                  td #{post.cost}
                  td #{post.description}
                  td #{post.location}
                  td #{post.created_time}
                  td #{post.updated_time}
                  td #{post.link}
                  td #{post.permalink_url}
      else
        p No sale posts.
    div.panel-footer
      div.row
        div.col-md-3
          if posts.length
            a#btn-delete.btn.btn-primary(href="javascript:confirmDeleteSelectedPosts('#sale-posts-grid')" data-toggle="tooltip" title="Delete selected posts") Delete
        div.col-md-6
        div.col-md-3

    #deletePostsConfirmation.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', data-dismiss='modal' onclick="javascript:deleteSelectedPosts(" + group.id + ", '#sale-posts-grid');") OK

    #deletePostsCompleted.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal' onclick="javascript:reloadPosts(" + group.id + ");") Close

  script(src="/javascripts/sale_posts.js")
