@font-face {
    font-family: phenomena;
    src: url(../fonts/Phenomena-Regular.otf);
}

:root {
    --main-color: #1c2154;
    --accent-color: #ba2a47;
    --accent-two-color: #f3f2ff;
    --accent-three-color: #a4a0bc;
}

body {
    font-family: sans-serif;
    color: var(--main-color);
}

a {
    color: var(--main-color);
}

.accent {
    color: var(--accent-color);
}

.page-header h1,h2,h3,h4,h5,h6 {
    display: inline;
}

.jumbotron h1 {
    color: var(--accent-color);
}

.jumbotron {
    background: var(--accent-two-color);
    margin: 10px 0;
    border: 1px solid var(--accent-three-color);
    box-shadow: 5px 5px 3px var(--accent-three-color);
}

.panel .panel-heading {
    background-color: var(--main-color);
    color: #ffffff;
}

nav.navbar.navbar-default {
    margin-bottom: 40px;
    border-radius: 0px;
    background-color: var(--accent-three-color);
    border: none;
}

nav.navbar.navbar-default a {
    color: #ffffff;
}

.jumbotron.top-bar {
    background-color: var(--accent-two-color);
    padding: 25px;
    margin: 0;
}

footer {
    margin: 70px;
    color: var(--accent-color);
}

footer .tag-line {
    background-color: var(--accent-two-color);
}

footer div {
    padding: 15px 35px;
}

#toggleall {
    background-color: var(--accent-two-color);
    margin-top: -0px;
    margin-left: 0px;
    margin-bottom: -10px;
    padding: 5px 15px 0px 30px;
    border-bottom: 1px solid #ddd;
}

.panel-height {
    max-height: 750px;
    overflow: auto;
}

.panel-height-short {
    max-height: 350px;
    overflow: auto;
}

.btn.btn-primary {
    background-color: var(--main-color);
}

.row.center-stage {
    margin: 0px 40px;
}

.comment {
    font-size: 0.9em;
    margin: 10px;
}

.app-title { 
    font-family: phenomena;
    color: var(--accent-color);
    display: inline;
}

img.fb-group-title {
    margin: 10px 10px;
}

.fb-group-title {
    margin-bottom: 20px;
}

img.app-logo {
    margin: 20px 20px;
}

img.app-logo-header {
    height: 30%;
    width: 30%;
}

.page-size {
    margin: 0 10px;
}

.list-group-item {
    border: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #ddd;
}

.vertical-space {
    margin-top: 10px;
}

.span-space {
    margin-left: 10px;
}

#loader {
    position: fixed;
    left: 45%;
    top: 40%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

